body {
    background-color: #f5f5f5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
}
contenitore {
	max-width: 1100px; /* o quello che volete */
	margin: 0 auto; /* per centrare quel contenitore nella pagina */
}

.info {
    position: relative;
}

.testo {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    color:#fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    }

  .image img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}



img {
    max-width: 100%;
}


header {
    max-width: 1100px;
    margin: 48px auto;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}


header p {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}


header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}


header a {
    text-decoration: none;
    color: #111;
}


header a:hover {
    text-decoration: underline;
}


header nav a {
    color: #666;
}


header nav a:hover {
    color: #000;
}


main {
    flex-grow: 1;
}

section.info h1 {
    margin: 0;
    color:  #ccc ;
    font-weight: normal;
    text-align: center;
    font-size: 68px;
}


section.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    margin: 48px auto;
    gap: 16px;
    padding: 0 16px;
}

section.card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
   
}


section.card h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 16px 16px 0 16px;
}


section.card p {
    font-size: 18px;
    color: #000;
    padding: 0 16px 16px 16px;
}


section.card div {
    background-color: #D3AF93;
    border-radius: 8px;
}


footer {
    margin:64px auto 0 auto;
    max-width: 11000px;
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 24px;
    background-color: #D3AF93;
    
}


footer p {
    font-size: 14px;
    color: #666;
    margin: 0;
}


@media (max-width:600px) {
    section.info h1 {
        font-size: 48px;
    }


    header {
        flex-direction: column;
        gap: 16px;
    }


    section.card div.item {
        display: flex;
        flex-direction: row;
    }
    section.card img {
        height: 150px;
        width: 150px;
        border-radius: 8px 0 0 8px;
    }
}

